<div
	style="
		max-width: 600px;
		margin: 0 auto;
		font-family: Arial, sans-serif;
		background-color: #222;
		color: #fff;
		padding: 20px;
		border-radius: 15px;
	"
>
	<h1 style="font-size: 28px; color: #f1c40f; text-align: center">
		Welcome, <span style="color: #fff"><%= fullName %></span>
	</h1>
	<h2 style="font-size: 20px; text-align: center; color: #ecf0f1">Your code</h2>
	<div
		style="display: flex; justify-content: center; gap: 10px; margin: 20px 0"
	>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code1 %>
		</div>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code2 %>
		</div>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code3 %>
		</div>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code4 %>
		</div>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code5 %>
		</div>
		<div
			style="
				font-size: 18px;
				padding: 10px;
				background-color: #fff;
				font-weight: bold;
				color: #000;
				border-radius: 5px;
			"
		>
			<%= code6 %>
		</div>
	</div>
	<p style="text-align: center; font-size: 14px; color: #bbb">
		Copy and paste the codes above wherever needed.
	</p>
</div>
